[submodule "frc/1444/other/robo-sim"]
	path = frc/1444/other/robo-sim
	url = https://github.com/frc1444/robo-sim
[submodule "frc/1444/2019/robot2019"]
	path = frc/1444/2019/robot2019
	url = https://github.com/frc1444/robot2019
[submodule "frc/1444/2019/robot2019-sim"]
	path = frc/1444/2019/robot2019-sim
	url = https://github.com/frc1444/robot2019-sim
[submodule "frc/1444/2020/robot2020"]
	path = frc/1444/2020/robot2020
	url = https://github.com/frc1444/robot2020
[submodule "frc/1706/other/Swerve_Base-2020"]
	path = frc/1706/other/Swerve_Base-2020
	url = https://github.com/rr1706/Swerve_Base-2020
[submodule "frc/2910/other/Common"]
	path = frc/2910/other/Common
	url = https://github.com/FRCTeam2910/Common
[submodule "frc/6391/2019/2019_Deep_Space"]
	path = frc/6391/2019/2019_Deep_Space
	url = https://github.com/6391-Ursuline-Bearbotics/2019_Deep_Space
[submodule "frc/6391/2019/2020_UARobotics_Buzz"]
	path = frc/6391/2019/2020_UARobotics_Buzz
	url = https://github.com/6391-Ursuline-Bearbotics/2020_UARobotics_Buzz
[submodule "frc/6391/2020/2020_UARobotics_Infinite_Recharge"]
	path = frc/6391/2020/2020_UARobotics_Infinite_Recharge
	url = https://github.com/6391-Ursuline-Bearbotics/2020_UARobotics_Infinite_Recharge
[submodule "frc/254/2017/FRC-2017-Public"]
	path = frc/254/2017/FRC-2017-Public
	url = https://github.com/Team254/FRC-2017-Public
[submodule "frc/254/2019/FRC-2019-Public"]
	path = frc/254/2019/FRC-2019-Public
	url = https://github.com/Team254/FRC-2019-Public
[submodule "frc/254/2018/FRC-2018-Public"]
	path = frc/254/2018/FRC-2018-Public
	url = https://github.com/Team254/FRC-2018-Public
[submodule "frc/254/other/TrajectoryLib"]
	path = frc/254/other/TrajectoryLib
	url = https://github.com/Team254/TrajectoryLib
[submodule "frc/4329/2017/2017_Dev"]
	path = frc/4329/2017/2017_Dev
	url = https://github.com/4329/2017_Dev
[submodule "frc/4256/2019/4256-19-Apollo"]
	path = frc/4256/2019/4256-19-Apollo
	url = https://github.com/Team4256/4256-19-Apollo
[submodule "frc/4256/2018/4256-18-Faraday"]
	path = frc/4256/2018/4256-18-Faraday
	url = https://github.com/Team4256/4256-18-Faraday
[submodule "frc/302/2020/2020InfiniteRecharge"]
	path = frc/302/2020/2020InfiniteRecharge
	url = https://github.com/Team302/2020InfiniteRecharge
[submodule "frc/302/2019/2019DestinationDeepSpace"]
	path = frc/302/2019/2019DestinationDeepSpace
	url = https://github.com/Team302/2019DestinationDeepSpace
[submodule "frc/1678/2019/c2019-rewrite"]
	path = frc/1678/2019/c2019-rewrite
	url = https://github.com/frc1678/c2019-rewrite
[submodule "frc/1899/2020/frc2020"]
	path = frc/1899/2020/frc2020
	url = https://github.com/SaintsRobotics/frc2020
[submodule "frc/1329/2019/roborebels-2019"]
	path = frc/1329/2019/roborebels-2019
	url = https://github.com/RoboRebel/roborebels-2019
[submodule "frc/2408/2018/FRC2018"]
	path = frc/2408/2018/FRC2018
	url = https://github.com/ShrapnelSergeants2408/FRC2018
[submodule "frc/2408/2019/FRC-2019"]
	path = frc/2408/2019/FRC-2019
	url = https://github.com/ShrapnelSergeants2408/FRC-2019
[submodule "frc/3647/2019/2020-InfiniteRecharge"]
	path = frc/3647/2019/2020-InfiniteRecharge
	url = https://github.com/MillenniumFalcons/2020-InfiniteRecharge
[submodule "frc/4187/2019/2019-RoboRams-Code"]
	path = frc/4187/2019/2019-RoboRams-Code
	url = https://github.com/4187roborams/2019-RoboRams-Code
[submodule "frc/4213/2019/Robot2019"]
	path = frc/4213/2019/Robot2019
	url = https://github.com/MetalCowRobotics/Robot2019
[submodule "frc/4213/2020/Robot2020"]
	path = frc/4213/2020/Robot2020
	url = https://github.com/MetalCowRobotics/Robot2020
[submodule "frc/4500/2019/2019RobotCPP"]
	path = frc/4500/2019/2019RobotCPP
	url = https://github.com/NicolasNewman/2019RobotCPP
[submodule "frc/4500/2019/2019Robot"]
	path = frc/4500/2019/2019Robot
	url = https://github.com/FRCTeam4500/2019Robot
[submodule "frc/4500/2018/2018Robot"]
	path = frc/4500/2018/2018Robot
	url = https://github.com/FRCTeam4500/2018Robot
[submodule "frc/4931/2019/2019-Robot"]
	path = frc/4931/2019/2019-Robot
	url = https://github.com/frc-4931/2019-Robot
[submodule "frc/5176/2019/FRC-Deep-Space-2019"]
	path = frc/5176/2019/FRC-Deep-Space-2019
	url = https://github.com/Team-5176/FRC-Deep-Space-2019
[submodule "frc/5809/2019/5809_Code_2019"]
	path = frc/5809/2019/5809_Code_2019
	url = https://github.com/bkeefe313/5809_Code_2019
[submodule "frc/7496/2019/DeepSpace-OS"]
	path = frc/7496/2019/DeepSpace-OS
	url = https://github.com/YellowLemon571/DeepSpace-OS
[submodule "frc/2412/2020/Infinite Recharge 2020"]
	path = frc/2412/2020/Infinite Recharge 2020
	url = https://github.com/robototes/InfiniteRecharge2020.git
[submodule "frc/2412/other/2412RobotLibrary"]
	path = frc/2412/other/2412RobotLibrary
	url = https://github.com/robototes/2412RobotLibrary.git
[submodule "frc/2412/2019/Deep Space 2019"]
	path = frc/2412/2019/Deep Space 2019
	url = https://github.com/robototes/DeepSpace2019.git
[submodule "frc/3468/2018/PowerUp"]
	path = frc/3468/2018/PowerUp
	url = https://github.com/frc3468/PowerUp
[submodule "frc/3468/2019/DeepSpace"]
	path = frc/3468/2019/DeepSpace
	url = https://github.com/frc3468/DeepSpace
[submodule "frc/3468/2020/InfiniteRecharge"]
	path = frc/3468/2020/InfiniteRecharge
	url = https://github.com/frc3468/InfiniteRecharge
